# SPDX-FileCopyrightText: 2024 Daniel Getz <dan@getzit.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

*.iml
.gradle
.kotlin
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties
